.experiences {
  height: 100vh;
  padding: 50px 112px;
  overflow: hidden;
  display: flex;
  gap: 82px;

  .experiences__text {
    width: 577px;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    h2 {
      color: #fff;
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: capitalize;
    }
  }

  .experiences__img {
    width: 559px;
    height: 669px;
    background-image: url(../../assets/portrait-three.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
