.nav {
  padding: 10px 20px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  .nav__logo {
    p {
      font-family: Montserrat;
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: 36.18px;
    }
  }

  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;

    .nav__link {
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-decoration: none;
      color: #fff;

      &:hover {
        color: lightgray;
      }
    }
  }

  .nav__avatar {
    img {
      height: 50px;
      width: 50px;
    }
  }
}
